/dist
/tmp
/out-tsc
/bazel-out
node_modules/
functions/node_modules/
npm-debug.log
yarn-error.log

.idea/
*.iml
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconness.log
testem.log
/typings
.DS_Store
Thumbs.db

.firebase/hosting.*.cache
firebase-debug.log
firestore-debug.log
ui-debug.log
firebase.json.backup

*.key
*.pem
*.p12
*.jks

src/environments/environment.development.ts
src/environments/environment.local.ts
src/environments/*.development.ts
