<div class="card" [class.pro]="isPopular" [class.ultra]="plan.id === 'ultra'">
  <div class="badge" *ngIf="plan.badge">{{ plan.badge }}</div>
  <h3>{{ plan.name }}</h3>
  <p class="desc">{{ plan.description }}</p>
  <div class="price-wrapper">
    <div class="price">${{ monthlyPrice }}<span>/mo</span></div>
    <div class="full-year" *ngIf="isAnnual">Full Year: ${{ plan.annualPrice }}</div>
  </div>
  <button 
    class="btn" 
    [class.btn-purple]="isPopular"
    [class.btn-full]="!isPopular"
    (click)="onSelect()"
  >
    Get {{ plan.name }}
  </button>
  <ul class="features">
    <li *ngFor="let feature of plan.features" 
        [class.disabled]="(plan.id === 'basic' && feature === 'All') || (plan.id === 'basic' && feature === 'Latest Update') || (plan.id === 'pro' && feature === 'All')">
      
      <i class="fa-solid" 
         [ngClass]="(plan.id === 'basic' && feature === 'All') || (plan.id === 'basic' && feature === 'Latest Update') || (plan.id === 'pro' && feature === 'All') ? 'fa-circle-xmark' : 'fa-check-circle'"></i>
      
      {{ feature }}
    </li>
  </ul>
</div>
